/** 
 * @文件说明: 定义地图Map组件的样式
 * @创建人: pjtools@vip.qq.com 
 * @创建时间: 2020-03-11 21:25:42 
 */

@import '../../style/themes/default';

.@{map-prefix-cls} {
  position: relative;
  transition: all 0.3s;

  &-bordered {
    border: @border-width-base @border-style-base @border-color-split;
  }
}
